<section class="sheduler">
    <div class="sheduler__header">
        <h2 class="sheduler__title">Расписание специалистов</h2>
        <div class="sheduler__button-wrapper">
            <button class="sheduler__button"  [ngClass]="{'sheduler__button--active': button0}" (click)="toggleButtonIndex0($event)">1 день</button>
            <button class="sheduler__button" [ngClass]="{'sheduler__button--active': button1}" (click)="toggleButtonIndex1($event)">2 дня</button>
            <button class="sheduler__button" [ngClass]="{'sheduler__button--active': button2}" (click)="toggleButtonIndex2($event)">Неделя</button>
        </div>
    </div>
    <div id="sheduler-body"  class="sheduler__body">
        <p class="sheduler__body-title" *ngIf="titleShow">Для просмотра расписания выберите хотя бы один Доступный ресурс</p>
        <div class="sheduler__resource" *ngFor="let resource of resources; let i = index">
            <div class="sheduler__wrapper" #head>
                <div class="sheduler__resource-date">{{resource.date | shrinkDate}}</div>
                <div class="sheduler__resource-name">{{resource.resourceName}}</div>
                <div class="sheduler__resource-spec">{{resource.resourceSpec}}</div>
                <div class="sheduler__resource-hosp">{{resource.resourceHospital}}</div>
                <div class="sheduler__resource-work" (click)="setHeadFull(i)">{{getWorkHours(resource)}}</div>
                <div class="sheduler__resource-full" *ngIf="headFull[i]" (click)="setHeadCompact(i)">
                    <p class="sheduler__resource-item" *ngFor="let record of headRecords[i]">{{record}}</p>
                </div>  
            </div>
            <div class="sheduler__body-res" [ngStyle]="styleHeadMargin(i)">
                <app-content [resource] = "resource" [index]="i" [resources]="resources"></app-content>
            </div>
        </div>
    </div>
</section>