.content {
    position: relative;
}

.content__quote {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
}

.content_sheduler {
    position: relative;
}

.content__quote-dn,
.content__quote-ln,
.content__quote-do,
.content__quote-hm,
.content__quote-da,
.content__quote-ba
 {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: #7c7b7b;
    color: #000000;
    border-bottom: 1px dotted #000000;   
}

.content__quote-hl,
.content__quote-il {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color: #ad2222;
    color: #000000;   
}

.content__quote-ap {
    position: relative;
    display: flex;
    height: 30px;
    padding-left: 10px;
    align-items: center;
    justify-content: left;
    background-color: rgba(238, 234, 234);
    color: #000000; 
    border-bottom: 1px dotted #000000;
    &:hover {
        background-color: #d2ebf5;
    }
    &--noapp:hover {
        &::before {
            position: absolute;
            text-align: center;
            top: -50px;
            width: 90px;
            padding: 2px;
            padding-left: 5px;
            padding-right: 5px;
            background-color: #000000;
            color: #ffffff;
            font-size: 12px;
            line-height: 90%;
            border-radius: 5px;
            content: 'Запись на прошедший временной интервал недоступна';
        }     
    }
    &--isapp:hover {
        &::before {
            position: absolute;
            top: -30px;
            width: 90px;
            padding: 2px;
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
            background-color: #000000;
            color: #ffffff;
            font-size: 12px;
            line-height: 90%;
            border-radius: 5px;
            content: 'Время доступно для записи';
         }     
     }
}

.content__quote-ispatient {
    display: flex;
    height: 30px;
    padding-left: 10px;
    align-items: center;
    justify-content: left;
    background-color: red;
    color: #000000; 
    border-bottom: 1px dotted #000000; 
    cursor: default;   
}

.content__quote-ispatient-quote {
    display: flex;
    height: 30px;
    padding-left: 10px;
    align-items: center;
    justify-content: left;
    background-color: orange;
    color: #000000; 
    border-bottom: 1px dotted #000000; 
    cursor: default;   
}
