.content__modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.content__modal-wrapper {
    position: absolute;
    top: 40%;
    left: 40%;
    display: grid;
    background-color: #ffffff;
    min-width: 300px;
    justify-content: center;
    box-shadow: 0 0 2px 2px #777676;
    z-index: 2;
}

.content__modal-header {
    display: grid;
    padding-top: 20px;
    align-items: center;
}

.content__modal-header-app {
    display: flex;
    padding-top: 20px;
    align-items: center;
}

.content__modal-header-title {
    text-align: center;
}

.content__modal-header-wrapper {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    &--chacked {
        background-color: #e2dfdf;  
    }
}

.content__modal-header-input {
    justify-self: end;
}

.content__modal-text-wrapper {
    display: grid;
    margin-left: 10px;
}

.content__modal-lable {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.content__modal-int {
    margin: 0;
    padding: 0;
}

.content__modal-title {
    margin: 0;
    padding: 0;
}

.content__modal-body {
    padding-top: 40px;
    padding-bottom: 20px;
}

.content__modal-view-text,
.content__modal-create-text,
.content__modal-delete-text {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.content__modal-create-text {
    &:hover {
        background-color: #f0eeee;
    }
}

.content__modal-delete-text {
    &:hover {
        background-color: #f0eeee;
    }
}

.content__modal-view-text {
    &:hover {
        background-color: #f0eeee;
    }
}

.content__modal-view {
    display: flex;
    padding: 5px;
    padding-left: 0;
    text-align: center;
    border-bottom: 2px solid #929090;
    align-items: center;
    cursor: pointer;
    &--disabled {
        filter: opacity(0.5);
        cursor: default;
    }
    &--disabled:hover .content__modal-view-text {
        background-color: #ffffff;
    }
}

.content__modal-view-svg {
    transform: scale(0.8);
}

.content__modal-create {
    display: flex;
    padding: 7px;
    text-align: center;
    border-bottom: 2px solid #929090;
    align-items: center;
    color: blue;
    cursor: pointer;
    &--disabled {
        color: black;
        filter: opacity(0.5);
        cursor: default;
    }
    &--disabled:hover .content__modal-create-text {
        background-color: #ffffff;
    }
}

.content__modal-delete {
    display: flex;
    padding: 7px;
    text-align: center;
    align-items: center;
    color: red;
    cursor: pointer;
    &--disabled {
        color: black;
        filter: opacity(0.5);
        cursor: default;
    }
    &--disabled:hover .content__modal-delete-text {
        background-color: #ffffff;
    }
}